/* variables */
/* mixins */
/* basic */
body {
  color: #222;
  letter-spacing: 1px; }

a {
  color: #FF6347; }

p {
  color: #888;
  letter-spacing: 0px; }

.color_element {
  color: #FF6347; }

.background_light {
  background-color: #FAFAFA; }

.background_dark {
  color: #fff;
  background-color: #222; }
  .background_dark h3::after {
    background-color: #fff; }
  .background_dark a {
    color: #fff; }

/* header */
.header {
  color: #888;
  letter-spacing: 0px; }

.logoContainer svg path {
  fill: #fff; }

.topMenu .menuList .menuList__item a:hover {
  color: #FF6347; }
.topMenu .menuList .menuList__item a {
  color: #fff;
  letter-spacing: 5px; }

.headerText p {
  color: #FAFAFA;
  letter-spacing: 5px; }

/* section */
section h4 {
  letter-spacing: 3px;
  color: #888; }
section .sectionHeader h3 {
  letter-spacing: 5px; }
  section .sectionHeader h3::after {
    background-color: #222; }

/* section about */
.section__about p:nth-child(even) {
  color: #FF6347; }
.section__about .personName {
  letter-spacing: 2px; }
.section__about li {
  color: #888; }

/* section resume */
.section__resume h4 {
  color: #222;
  letter-spacing: 1px; }
.section__resume .resumeItem .resumeItem__year p {
  color: #fff;
  background-color: #FF6347; }
.section__resume .resumeItem .resumeItem__position p {
  letter-spacing: 1px; }

/* section portfolio */
.section__portfolio li.active span {
  color: #fff;
  border-bottom: 1px solid #FF6347; }
.section__portfolio li span {
  letter-spacing: 2px;
  color: #888; }
.section__portfolio .portfolioItem .portfolioItem__content a {
  color: #FF6347;
  border-color: #FF6347; }
  .section__portfolio .portfolioItem .portfolioItem__content a:hover {
    color: #fff;
    border-color: #FF6347;
    background-color: #FF6347; }

/* section contacts */
.section__contacts .contactBox__icon {
  color: #FF6347; }
.section__contacts form {
  color: #888;
  letter-spacing: 2px; }
  .section__contacts form input,
  .section__contacts form textarea {
    color: #000;
    border: 1px solid #888; }
  .section__contacts form input:focus,
  .section__contacts form textarea:focus {
    border: 1px solid #FF6347; }
  .section__contacts form button {
    color: #fff;
    background-color: #FF6347; }
  .section__contacts form .textDanger {
    color: #FF6347; }

/* footer */
.footer .socialWrapper a {
  color: #FF6347; }
