@font-face {
    font-family: 'Poiret One';
    src: local('Poiret One'),
         local('PoiretOne-Regular'),
         url('../fonts/poiretone.woff2') format('woff2'),
         url('../fonts/poiretone.woff') format('woff'),
         url('../fonts/poiretone.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}