html, body {
  overflow-x: hidden;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

/* header */
.header {
  position: relative;
  min-height: 480px;
  padding-top: 20px; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999; }

.loader__inner {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 64px;
  width: 64px;
  margin-top: -32px;
  margin-left: -32px;
  background: url(../images/preloader.gif) #fff no-repeat center center;
  background-size: cover; }

.logoContainer {
  float: left; }
  .logoContainer svg {
    position: relative;
    z-index: 100;
    width: 60px;
    height: 60px; }

.toggleMenu {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  background-color: #000; }

.sandwich {
  display: block;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 8px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200; }
  .sandwich > span {
    display: block; }

.sandwich__topper {
  position: relative;
  top: 0;
  width: 34px;
  height: 3px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s; }

.sandwich__bottom {
  position: relative;
  width: 34px;
  height: 3px;
  top: 7.8px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s; }

.sandwich__footer {
  position: relative;
  width: 34px;
  height: 3px;
  top: 15.6px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s; }

.sandwich.active .sandwich__topper {
  top: 12px;
  transform: rotate(-45deg); }
.sandwich.active .sandwich__bottom {
  top: 9px;
  transform: rotate(45deg); }
.sandwich.active .sandwich__footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg); }

.topMenu {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.8); }
  .topMenu .menuList {
    list-style-type: none;
    padding-left: 0;
    margin-top: 180px;
    margin-bottom: 0;
    text-align: center;
    -webkit-animation-duration: 0.01s;
    -moz-animation-duration: 0.01s;
    animation-duration: 0.01s; }
    .topMenu .menuList .menuList__item {
      padding: 0;
      margin: 0; }
      .topMenu .menuList .menuList__item:nth-child(1) a {
        -webkit-animation-duration: 0.5s;
        -moz-animation-duration: 0.5s;
        animation-duration: 0.5s; }
      .topMenu .menuList .menuList__item:nth-child(2) a {
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        animation-duration: 1s; }
      .topMenu .menuList .menuList__item:nth-child(3) a {
        -webkit-animation-duration: 1.5s;
        -moz-animation-duration: 1.5s;
        animation-duration: 1.5s; }
      .topMenu .menuList .menuList__item:nth-child(4) a {
        -webkit-animation-duration: 2s;
        -moz-animation-duration: 2s;
        animation-duration: 2s; }
      .topMenu .menuList .menuList__item a {
        display: block;
        position: relative;
        height: 60px;
        font-size: 15px;
        text-transform: uppercase; }
        .topMenu .menuList .menuList__item a span {
          position: absolute;
          top: -18px;
          left: 0;
          height: 100%;
          width: 100%;
          padding: 20px 0;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          transition: all 0.5s ease; }
        .topMenu .menuList .menuList__item a:hover span {
          background-color: rgba(255, 255, 255, 0.08); }

.headerWrapper {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10; }
  .headerWrapper .headerDescription {
    display: table-row; }
    .headerWrapper .headerDescription .headerCentered {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
      .headerWrapper .headerDescription .headerCentered .headerText {
        display: inline-block; }
        .headerWrapper .headerDescription .headerCentered .headerText h1 {
          display: inline-block;
          padding: 10px 30px;
          border: 8px solid #fff;
          margin-left: 20px;
          margin-right: 20px;
          color: #fff;
          text-transform: uppercase;
          font-size: 2.8em;
          font-weight: bold;
          background-color: rgba(0, 0, 0, 0.4);
          -webkit-animation-delay: 0.15s;
          -moz-animation-delay: 0.15s;
          animation-delay: 0.15s; }
        .headerWrapper .headerDescription .headerCentered .headerText p {
          margin: 0;
          text-transform: uppercase;
          font-size: 1.4em;
          -webkit-animation-delay: 0.15s;
          -moz-animation-delay: 0.15s;
          animation-delay: 0.15s; }

.headerText_opacify {
  opacity: 0.05;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease; }

/* section */
.section {
  position: relative;
  padding: 70px 0 90px; }
  .section h4 {
    margin-top: 0;
    margin-bottom: 35px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px; }
  .section .sectionHeader {
    text-align: center; }
    .section .sectionHeader h2 {
      margin: 0 0 15px;
      font-size: 24px;
      text-transform: uppercase; }
    .section .sectionHeader h3 {
      position: relative;
      margin-top: 0;
      margin-bottom: 130px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 300; }
      .section .sectionHeader h3::after {
        position: absolute;
        left: 50%;
        content: "";
        width: 150px;
        height: 1px;
        margin-left: -75px;
        margin-top: 60px; }

/* section about */
.section__about p {
  margin-bottom: 30px; }
.section__about .personImageWrapper {
  text-align: center;
  margin-bottom: 35px; }
  .section__about .personImageWrapper img {
    display: inline-block;
    max-width: 220px;
    border-radius: 50%; }
.section__about .personName {
  margin-bottom: 30px;
  text-align: left;
  font-size: 13px;
  color: #555; }
.section__about .personList,
.section__about .personList__item {
  margin: 0;
  padding: 0; }
.section__about .personList {
  list-style-type: none; }
.section__about .personList__item {
  margin-bottom: 10px; }
.section__about .socialWrapper {
  margin-top: 25px; }

.socialWrapper .socialList {
  padding: 0;
  margin: 0;
  list-style-type: none; }
  .socialWrapper .socialList .socialList__item {
    display: inline-block;
    font-size: 20px;
    padding: 0 3px; }

/* section resume */
.section__resume .border_right {
  border-right: 1px solid #d2d2d2; }
.section__resume .left {
  text-align: right; }
  .section__resume .left h4 {
    text-align: right; }
  .section__resume .left .resumeItem__position strong {
    margin-right: 6px; }
  .section__resume .left:last-child .resumeItem {
    margin-bottom: 0; }
.section__resume .right {
  text-align: left; }
  .section__resume .right h4 {
    text-align: left; }
  .section__resume .right .resumeItem__position strong {
    margin-right: 6px; }
  .section__resume .right:last-child .resumeItem {
    margin-bottom: 0; }
.section__resume h4 {
  margin-top: 35px;
  font-size: 16px;
  font-weight: 600; }
.section__resume .resumeIcon {
  font-size: 40px;
  margin-bottom: 35px; }
.section__resume .resumeItem {
  margin-bottom: 40px; }
  .section__resume .resumeItem .resumeItem__year {
    display: inline-block;
    margin-bottom: 15px; }
    .section__resume .resumeItem .resumeItem__year p {
      padding: 0 15px;
      margin: 0;
      font-weight: 600;
      font-style: italic; }
  .section__resume .resumeItem .resumeItem__position p {
    margin-top: 0;
    margin-bottom: 15px;
    font-style: italic; }
    .section__resume .resumeItem .resumeItem__position p strong {
      font-weight: 600;
      font-style: normal;
      text-transform: uppercase; }
  .section__resume .resumeItem .resumeItem__description p {
    margin: 0; }

/* section portfolio */
.section__portfolio ul,
.section__portfolio li {
  padding: 0;
  margin: 0; }
.section__portfolio ul {
  margin-bottom: 50px;
  list-style-type: none;
  text-align: center; }
.section__portfolio li {
  display: inline-block;
  margin: 0 20px; }
  .section__portfolio li span {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 2;
    cursor: pointer; }
.section__portfolio .portfolioItem {
  display: none;
  position: relative;
  padding: 0; }
  .section__portfolio .portfolioItem img {
    width: 100%;
    height: auto; }
  .section__portfolio .portfolioItem:hover .portfolioItem__content {
    opacity: 1;
    padding-top: 8%; }
  .section__portfolio .portfolioItem .portfolioItem__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 11%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer; }
    .section__portfolio .portfolioItem .portfolioItem__content h4 {
      margin-bottom: 0;
      color: #fff; }
    .section__portfolio .portfolioItem .portfolioItem__content a {
      display: inline-block;
      padding: 2px 10px;
      border: 1px solid #fff;
      background-color: transparent; }

/* section contacts */
.section__contacts .contactBox {
  margin-bottom: 20px; }
  .section__contacts .contactBox .contactBox__icon {
    font-size: 30px; }
  .section__contacts .contactBox h4 {
    margin-bottom: 0;
    font-size: 14px;
    text-align: left;
    color: #000; }
  .section__contacts .contactBox p {
    margin-top: 5px; }
.section__contacts .form .form-group {
  display: block;
  margin-bottom: 25px; }
  .section__contacts .form .form-group input,
  .section__contacts .form .form-group textarea {
    display: block;
    width: 100%;
    outline: none;
    margin-top: 5px;
    line-height: 40px;
    background-color: transparent;
    text-indent: 12px;
    font-size: 12px; }
  .section__contacts .form .form-group .textDanger {
    display: block; }
    .section__contacts .form .form-group .textDanger ul {
      list-style-type: none; }
    .section__contacts .form .form-group .textDanger ul,
    .section__contacts .form .form-group .textDanger li {
      margin: 0;
      padding: 0; }
.section__contacts .form button {
  float: right;
  padding: 0 25px;
  line-height: 40px;
  margin-top: 18px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400; }

/* footer */
.footer {
  padding: 50px 0;
  font-size: 13px;
  font-weight: 300;
  text-align: left; }
  .footer p {
    display: inline-block;
    margin: 0; }
  .footer .socialWrapper {
    float: right;
    line-height: 0; }
    .footer .socialWrapper .socialList {
      margin: 0;
      padding: 0; }
